@charset "UTF-8";
html {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  list-style-type: none;
  text-decoration: none;
}

/*reset css はここまで*/
.l-header {
  width: 100%;
  height: 60px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}

.l-header__left {
  width: 120px;
  height: 40px;
  margin: 15px 67px;
}

.l-header__left a {
  background-color: #393E46;
  color: white;
  font-family: Yu Gothic;
  font-weight: bold;
  height: 20px;
  width: 80px;
  padding: 10px 20px 10px 20px;
  font-size: 21px;
  margin: 0 0 0 0px;
}

.l-header__right {
  height: 60px;
  background-color: white;
  margin: 0 70px 0 0;
}

.l-header__right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #24292E;
  text-align: center;
  line-height: 60px;
}

.l-header__right li {
  text-align: center;
  margin: 0px 24px;
  font-size: 14.4px;
  font-family: Arial;
}

.l-header2 {
  width: 100%;
  height: 60px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}

.l-header2__left {
  width: 120px;
  height: 40px;
  margin: 15px 60px;
}

@media (max-width: 599px) {
  .l-header2__left {
    margin: 15px 11px;
  }
}

.l-header2__left a {
  background-color: #393E46;
  color: white;
  font-family: Yu Gothic;
  font-weight: bold;
  height: 20px;
  width: 80px;
  padding: 10px 20px 10px 20px;
  font-size: 21px;
  margin: 0 0 0 0px;
}

.l-header2__right {
  height: 60px;
  background-color: white;
  margin: 0 45px 0 0;
}

@media (max-width: 599px) {
  .l-header2__right {
    margin: 0;
  }
}

.l-header2__right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #24292E;
  text-align: center;
  line-height: 65px;
}

.l-header2__right li {
  text-align: center;
  margin: 0px 15px;
}

.l-contents {
  width: 100%;
}

.l-contents_main_picture {
  width: 100%;
  height: 600px;
  background-color: #E4E4E4;
}

.l-contents_main_article {
  padding: 0 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-contents_main_article_about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 599px) {
  .l-contents_main_article_about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

.l-contents_main_article_about_h1 {
  font-family: Arial;
  font-size: 32px;
  width: 92px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 85px;
  margin-bottom: 70px;
  border-bottom: solid 1px #707070;
  color: #383E45;
}

.l-contents_main_article_about_picture {
  background-color: #E4E4E4;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: 30px;
  margin-top: -86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 599px) {
  .l-contents_main_article_about_picture {
    margin: 0 auto;
  }
}

.l-contents_main_article_about_sentence > h2 {
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  color: #383E45;
}

.l-contents_main_article_about_sentence > p {
  font-family: Arial;
  font-size: 14.4px;
  margin-top: 10px;
  margin-bottom: 96px;
  color: #383E45;
}

.l-contents_main_article_bicycle {
  margin: 0 auto;
}

.l-contents_main_article_bicycle_h1 {
  font-family: Arial;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  border-bottom: solid 1px #707070;
  width: 112px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #383E45;
}

.l-contents_main_article_bicycle > ul {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #383E45;
}

@media (max-width: 599px) {
  .l-contents_main_article_bicycle > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-contents_main_article_bicycle > ul > li {
  width: 32%;
}

@media (max-width: 599px) {
  .l-contents_main_article_bicycle > ul > li {
    width: 100%;
  }
}

.minipicture {
  max-width: 100%;
  height: 174px;
  background-color: #E4E4E4;
}

@media (max-width: 599px) {
  .minipicture {
    height: 228px;
  }
}

.minititle h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.minisentence {
  text-align: center;
  margin-bottom: 30px;
}

.l-contents_page_picture {
  margin: 0 60px;
  height: 480px;
  background-color: #E4E4E4;
}

@media (max-width: 599px) {
  .l-contents_page_picture {
    height: 197px;
    margin: 0 15px;
  }
}

.l-contents_page_article_about_h1 > h1 {
  font-family: Arial;
  font-size: 21.6px;
  font-weight: bold;
  margin: 30px 90px;
  color: #383E45;
}

@media (max-width: 599px) {
  .l-contents_page_article_about_h1 > h1 {
    margin: 30px 15px;
  }
}

.l-contents_page_article_about_sentence {
  font-family: Arial;
  margin: 20px 102px 20px 90px;
  font-size: 14.4px;
}

@media (max-width: 599px) {
  .l-contents_page_article_about_sentence {
    margin: 0px 15px;
  }
}

.l-contents_page_article_about_sentence > p {
  margin-bottom: 10px;
  color: #383E45;
}

.l-contents_page_article_about_back {
  font-family: Arial;
  font-size: 14.4px;
  margin: 60px 0 0px 0;
  text-align: center;
}

.l-footer {
  margin: 116px 0 10px 0;
  text-align: center;
  font-size: 10px;
  font-family: Arial;
  color: #383E45;
}

@media (max-width: 599px) {
  .l-footer {
    margin: 0 0 10px 0;
  }
}
/*# sourceMappingURL=style.css.map */