.l-contents{
    &_page{
      &_picture{
        margin: 0 60px;
        height: 480px;
        background-color:gray ;
      }
      &_article{
          &_about_h1{
              >h1{
                  font-family: Arial;
                  font-size: 21.6px;
                  font-weight: bold;
                  margin: 30px 90px;
                }
            }
            &_about_sentence{
                font-family: Arial;
                margin: 20px 108px 20px 90px;
                font-size: 14.4px;
                >p{
                    margin-bottom: 10px;
                }
            }
            &_about_back{
                font-family: Arial;
                font-size: 14.4px;
                margin: 57px 0 125px 0;
                text-align: center;

            }
      }
   }
}