.responsive-thumbnail {
  width: 50%;
  display: flex;
  align-items: center;
  @include sp {
    width: 100%;
  }
  img {
    width: 200%;
    height: auto;
    max-height: 100%;
  }
}

.p-menu-card {
  display: flex;
  margin: 30px 0 0 0;
  background: #3c2b1c;
  &_custom {
    display: flex;
    position: relative;
  }
  &__intro {
    position: relative;
    display: flex;
    height: auto;
    z-index: 2;
    width: 100%;
    @include sp {
      display: block;
      flex-direction: column;
    }
    &__right {
      position: relative;
      height: auto;
      width: 50%;
      right: auto;
      @include sp {
        width: 100%;
      }
      &__h2 {
        color: white;
        margin: 20px 20px 10px 20px;
        font-size: 1.3rem;
      }
      &__title {
        color: white;
        font-size: 2rem;
        margin: 30px 0 0 20px;
        @include sp {
          right: 0%;
        }
      }
      &__except {
        color: white;
        right: 0%;
        font-size: 1.2rem;
        margin: 20px;
        line-height: 2rem;
        @include tab {
          font-size: 1.4rem;
        }
      }
      &__permalink {
        background-color: white;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 2% 10%;
        margin: 10% auto;
        border-radius: 40px;
        line-height: 40px;
        width: 50%;
        text-align: center;
        > a {
          color: black;
          padding: 15% 35%;
          white-space: nowrap;
          @include tab {
            padding: 15% 30%;
          }
          @include tab2 {
            padding: 10% 25%;
          }
          @include sp {
            padding: 15% 35%;
          }
        }
      }
    }
  }
}
