.l-archive {
  &__top {
    display: flex;
    position: relative;
    &__img {
      height: 500px;
      width: auto;
      background-image: url("../pictures/hamburger_set.png");
      background-size: cover;
      background-position: center;
    }
  }
}
