.l-contents {
  display: flex;
  justify-content: space-between;
  &__dark {
    z-index: 9999;
    width: 100%;
    background-color: #333;
  }
  &__is-open {
    position: fixed;
  }
  &__left {
    width: 80%;
    @include tab {
      width: 100%;
    }
    &__category {
      line-height: 2rem;
      font-size: 1rem;
      margin: 40px 0px;

      > h1 {
        font-weight: bold;
        font-size: 1.5rem;
        margin: 20px 0 20px 0;
      }
    }
    &__search-result {
      font-size: 1.5rem;
      padding: 15px 0;
      font-weight: bold;
      @include tab {
        font-size: 1.2rem;
      }
    }
    &__page {
      &__top {
        display: flex;
        &__img {
          background-image: url("../pictures/page_top.png");
          background-size: cover;
          background-position: center;
          height: 400px;
          width: 100%;
          z-index: 1;
          &__big {
            height: 400px;
            width: 100%;
          }
        }
        &__word {
          position: absolute;
          color: white;
          z-index: 2;
          line-height: 400px;
          font-size: 2.5rem;
          margin: 0 0 0 40px;
        }
      }
    }
    &__single {
      @include sp {
        flex-flow: column;
      }
      &__top {
        h1 {
          margin: 0 0 0 30px;
        }
      }
      &__bold {
        font-weight: bold;
        font-size: 0.8rem;
        margin: 40px 0 40px 40px;
      }
      &__switch {
        background-color: #e6e0dc;
        color: black;
        font-size: 1rem;
        font-weight: 500;
        padding: 4px;
        margin: 30px;
        border-radius: 20px;
        line-height: 80px;
        width: 50%;
        text-align: center;
        border: solid 1px #333;
        cursor: pointer;
        a {
          display: block;
          line-height: 80px;
          width: 100%;
          color: black;
          font-weight: bold;
        }
      }
      &__table {
        width: 90%;
        border-collapse: collapse;
        margin: 0 0px 20px 30px;
        th {
          width: 40%;
          border: solid 1px #333;
          padding: 20px;
        }
        td {
          width: 60%;
          border: solid 1px #333;
          padding: 20px;
        }
      }
      &__list {
        margin: 30px;
        &__1 {
          font-size: 0.8rem;
        }
        &__2 {
          font-size: 0.8rem;
          margin: 20px 0 20px 15px;
        }
      }
      &__h2 {
        margin: 30px;
        font-size: 2rem;
      }
      &__h3 {
        margin: 30px;
        font-size: 1.5rem;
      }
      &__h4 {
        margin: 30px;
        font-size: 1.2rem;
      }
      &__h5 {
        margin: 30px;
        font-size: 1rem;
      }
      &__p {
        margin: 30px;
        font-size: 0.8rem;
      }
      &__gray {
        margin: 30px;
        background-color: #f5f5f5;
        font-size: 0.8rem;
        p {
          padding: 30px;
        }
      }

      &__top {
        display: flex;
        &__img {
          background-image: url("../pictures/topチーズバーガー.png");
          background-size: cover;
          background-position: center;
          height: 400px;
          width: 100%;
          z-index: 1;
        }
        &__word {
          position: absolute;
          color: white;
          z-index: 2;
          line-height: 400px;
          font-size: 2.5rem;
        }
      }
    }
    &__archive {
      &__top {
        display: flex;
        position: relative;
        height: 200px;
        &__bg {
          position: absolute;
          background-color: black;
          height: 200px;
          width: 100%;
          z-index: 1;
        }
        &__img {
          position: absolute;
          background-image: url("../pictures/マスクグループ.png");
          background-size: cover;
          background-position: center;
          height: 200px;
          width: 100%;
          z-index: 2;
        }
        &__word {
          color: white;
          z-index: 3;
          display: flex;
          line-height: 200px;
          margin-left: 20px;
          h1 {
            font-size: 2.5rem;
          }
          p {
            margin: 5px 30px 0 5px;
            font-size: 1.5rem;
          }
        }
        &__title {
          margin: 50px 30px 25px 30px;
          h2 {
            margin: 25px 0;
            font-size: 1.5rem;
          }
        }
      }
      &__bottom {
        &__menu {
          display: flex;
          position: relative;
          margin: 400px 30px 25px 30px;
          top: -350px;
          @include tab {
            margin: 720px 30px 25px 30px;
            top: -670px;
          }

          &__img {
            background-image: url("../pictures/チーズバーガー.png");
            background-size: cover;
            background-position: center;
            height: 350px;
            width: 100%;
            position: absolute;
            z-index: 1;
          }
          &__box {
            left: 50%;
            height: 350px;
            width: 50%;
            margin-top: 100px 0 0 0;
            position: absolute;
            z-index: 2;
            background-color: #3c2b1c;
            color: white;
            h2 {
              font-size: 1.5rem;
              margin: 30px 0px 30px 40px;
            }
            h3 {
              font-size: 1.2rem;
              margin: 0 0 20px 40px;
            }
            p {
              margin: 0px 20px 0 40px;
            }
            @include tab {
              width: 100%;
              top: 350px;
              left: 0px;
            }
          }
        }
      }
    }
  }
  &__right {
    width: 20%;
    background-color: #f2ede9;
    @include tab {
      width: 0%;
    }
  }
}
