.l-footer {
  background-color: #957f6a;
  height: 150px;
  &__center {
    padding-top: 10px;
    color: white;
    font-size: 1.2rem;
    a {
      color: white;
      font-size: 20px;
      padding: 15px 15px 15px 0px;
    }
    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
    }
    li {
      position: relative; // 子要素の位置の基準指定
      padding: 5px;
      margin: 5px;
      &::before {
        //疑似要素設置
        //縦線ここから
        position: absolute;
        left: 3;
        content: "";
        background-color: #fff;
        width: 1px;
        height: 20px;
        margin: 6px -20px 4px -20px;
        // 縦線ここまで
      }
      &:first-of-type {
        // 疑似クラス追加
        &::before {
          // 疑似要素追加
          display: none; //番左のメニュー左の縦線は非表示に指定
        }
      }
    }
  }
  &__copyright {
    color: white;
    text-align: center;
    padding-top: 0px;
  }
}
