.p-article {
  width: 100%;
  display: flex;
  font-weight: normal;
  color: #3c2a10;
  &__left {
    width: 80%;
    @include tab {
      width: 100%;
    }
    &__topic {
      margin: 35px 40px 0 40px;
    }
    &__page {
      &__top {
        aspect-ratio: 2/1;
        background-image: url("../pictures/page_top.png");
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > a {
          color: white;
          font-weight: bold;
          line-height: auto;
          font-size: 4rem;
        }
      }
    }
    &__single {
      &__top {
        width: 100%;
        height: 400px;
        display: flex;
        > p {
          width: 100%;
        }

        &__img {
          aspect-ratio: 2/1;
          background-image: url("../pictures/topチーズバーガー.png");
          width: 200%;
          background-size: cover;
          background-position: center;
          justify-content: center;
          align-items: center;
          height: 100%;
          p {
            width: 100%;
          }
        }
        &__word {
          > a {
            color: white;
            font-weight: bold;
            line-height: 400px;
            font-size: 4rem;
            margin: 0 40px;
            @include tab {
              font-size: 3rem;
            }
          }
          position: absolute;
        }
      }
    }
  }
  //見出しや文字
  h2 {
    padding: 33px 0;
    font-size: 36px;
  }
  h3 {
    padding: 33px 0;
    font-size: 28px;
  }
  h4 {
    padding: 33px 0;
    font-size: 20px;
  }
  h5 {
    padding: 33px 0;
    font-size: 12px;
  }
  h6 {
    padding: 33px 0;
    font-size: 4px;
  }
  p {
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
  }
  //引用ボックス部分
  blockquote {
    padding: 33px 0;
    margin: 10px;
    background-color: #f5f5f5;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.6;
    @include sp {
      padding-top: 30px;
    }
  }
  blockquote > p {
    padding: 0 0 33px;
  }
  //番号付きリスト部分
  ol {
    padding: 33px 0;
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
    @include sp {
      padding: 0 20px 30px;
    }
    > li {
      > ol {
        padding: 30px 20px;
      }
    }
  }
  //リスト部分
  ul {
    font-size: 16px;
    @include sp {
      padding: 0 0 30px;
    }
  }
  //整形テキスト（ソースコード部分）
  pre {
    padding: 33px 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 50px;
    code {
      font-size: 16px;
      line-height: 1.6;
    }
  }
  //表部分
  figure {
    padding: 33px 0;
    table {
      padding: 60px 0;
      font-size: 16px;
      width: 100%;
      tr {
        padding: 30px;
        th,
        td {
          padding: 30px;
          font-weight: 500;
          border: solid 1px;
          text-align: inherit;
        }
      }
    }
  }
}
